<nav class="nav">
  <a routerLink="/" class="nav__link">Home</a>
  <a routerLink="/products" class="nav__link">Products</a>
  <a routerLink="/cart" class="nav__link">
    <span class="emoji-icon">🛒</span>
    Cart ({{ cartItemsCount() }})
  </a>
  <a routerLink="/checkout" class="nav__link">
    <span class="emoji-icon">💳</span>
    Checkout
  </a>
  <a routerLink="/profile" class="nav__link">
    <span class="emoji-icon">👤</span>
    Profile
  </a>
  <a routerLink="/login" class="nav__link">
    <span class="emoji-icon">🔐</span>
    Login
  </a>
</nav>